<div class="page-about">
    <% for(var i=1; i < data.length; i++) { %>
        
        <%if (data[i].Headline.length > 0) 
            { %>
                <h1 class="page-about__heading">
                    <%= data[i].Headline %>
                </h1>
                
            <% }
        %>
        <%if (data[i].Subheadline.length > 0) 
            { %>
                <p class="page-about__subheading"><%- data[i].Subheadline %></p>
            <% }
        %>
        <div class="page-about__content">
            <div class="page-about__landing-image">
                <img class="page-about__landing-image--responsive" src="<%= data[i].Mobileurl %>"/>
                <img class="page-about__landing-image--main" src= "<%= data[i].Desktopurl %>"/>
                <p class="page-about__title"> <%- data[i].title %></p>
                <p class="page-about__description"> <%- data[i].description %></p>
            </div>
        </div>
      <% } %>
</div>